#navegacao{
    opacity: 0.9;
    max-height: 10%;
}
@media(max-width: 720px){
    #navegacao{
        min-height: 10%;
        max-height: 100%;
    }
}

#logoNavBar{
    max-width: 40%;
}
#logoNavBarSmall{
    max-width: 30%;
}
#botaoInscricao{
    background-color: #cb6ce6;
    border-radius: 30px;
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    width: 120%;
    height: 120%;
}
.navButton{
    width: 300px;
}
#botaoInscricao:hover{
    background-color: #8c52ff;
}
#cabeca{
    background: url("headTeste.png") no-repeat;
    background-size: cover;
    background-position: center;
    
}
.textHeader{
    text-shadow: 2px 2px 4px #000000;
}
.btnShowCase{
    background-color: #cb6ce6;
    border-radius: 30px;
    border: none;
    font-size: 0.8em;
    width: 120%;
    height: 120%;
    font-weight: 500;
}
.btnShowCase:hover{
    background-color: #8c52ff;
}
.objetivoImg{
    max-width: 90%;
}
.cardImg1{
    background-color: #cb6ce6;
    border-radius: 100%;
    max-width: 15%;
    max-height: 170px;
}
.cardImg{
    background-color: #cb6ce6;
    border-radius: 100%;
    max-width: 50%;
}
.imgCard{
    border-radius: 70%;
}
.cardNivel{
    border: none;
}
.card{
    border: none;
    border-radius: 20px;
}
#niveis{
    background-color: #f5f3f5;
}
#certificado{
    max-width: 100%;
}
.btnCertificado{
    background-color: #cb6ce6;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    width: 20%;
    height: 20%;
}
.btnCertificado:hover{
    background-color: #8c52ff;
}