#navegacao{
    opacity: 0.9;
    max-height: 10%;
}
@media(max-width: 720px){
    #navegacao{
        min-height: 10%;
        max-height: 100%;
    }
}
#logoShowcase{
    margin-left: -10%;
}
@media(max-width: 720px){
    #logoShowcase{
        margin-left: 0%;
    }
}
#logoNavBar{
    max-width: 40%;
}
#logoNavBarSmall{
    max-width: 30%;
}
#botaoInscricao{
    background-color: #cb6ce6;
    border: none;
}
#cabeca{
    background: url("headTeste.png") no-repeat;
    background-size: cover;
    background-position: center;
    
}
.btnShowCase{
    background-color: #040005;
    border: none;
}
.cardImg1{
    background-color: #cb6ce6;
    border-radius: 100%;
    max-width: 15%;
    max-height: 170px;
}
.cardImg{
    background-color: #cb6ce6;
    border-radius: 100%;
    max-width: 50%;
}
.imgCard{
    border-radius: 70%;
}
.cardNivel{
    border: none;
}
.card{
    border: none;
    border-radius: 20px;
}
#niveis{
    background-color: #f5f3f5;
}
#certificado{
    max-width: 100%;
}